test.dtd

<!ELEMENT dataset (
    branch*,
    branch_sale_out*)>

<!ELEMENT branch EMPTY>
<!ATTLIST branch
    branch_code CDATA #REQUIRED
    branch_name CDATA #REQUIRED
>

<!ELEMENT branch_sale_out EMPTY>
<!ATTLIST branch_sale_out
    branch_code CDATA #REQUIRED
    branch_name CDATA #REQUIRED
    branch_sale CDATA #IMPLIED
>

